@font-face {
	font-family: Muli;
	src: url(../fonts/Muli/Muli.ttf)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	outline: 0;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

/* Carousel base class */
.carousel {
	margin-bottom: 2rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
	height: 32rem;
}

.carousel-item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

a {
	text-decoration: none;
}

/* ===== nav ===== */
nav {
	background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
}

.navbar .navbar-nav {
	text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
	font-size: 1rem;
	font-weight: 600;
	color: #FFF;
	text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #f1c40f;
}

.btn-outline-warning {
	border: 2px solid rgba(204, 204, 204, 0.301);
	background-color: #ff6027;
	-webkit-transition: background 400ms ease-in-out;
	transition: background 400ms ease-in-out;
	font: normal bold 18px/1 "Muli"serif;
	background-image: -webkit-linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
	background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
	background-position: 100%;
	background-size: 400%;
	color: white;

}

.btn-outline-warning:hover {
	background-position: 0;
	background-color: #F6416C;
	color: white;
}

/* ===== carousel ===== */
.carousel-item img {
	filter: brightness(99%);
}

.carousel-caption {
	text-shadow: 0.1em 0.1em 0.7em rgb(153, 142, 142);
	font-family: Muli, serif;
}


/* ===== mensagem ===== */
.mensagem {
	background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
}

.mensagem h1,
.mensagem p {
	color: white;
}

/* ===== card ===== */
.card {
	-webkit-box-shadow: 7px 6px 14px 1px rgba(54, 48, 54, 1);
	-moz-box-shadow: 7px 6px 14px 1px rgba(54, 48, 54, 1);
	box-shadow: 7px 6px 14px 1px rgba(54, 48, 54, 1);
	font-family: Muli, serif;
	color: white;
	font-weight: 800;
	text-shadow: black 0.1em 0.1em 0.7em;
	background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
}

/* ===== FOOTER ===== */

footer {
	background-image: linear-gradient(135deg, #f74540 10%, #f1be0c 100%);
	margin-top: 3%;
}

footer h5 {
	color: #FFF;
}

footer .list-unstyled {
	color: #FFF;

}

footer .list-unstyled a {
	color: rgba(255, 255, 255, 0.51);
	text-decoration: underline;
}

.sub-footer {
	background-color: #962f00;
	float: left;
	width: 100%;
	text-align: center;
}

/* Page anunciar */

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: auto;
}

.item {
	border-radius: 38px;
	margin: 1rem;
	width: 17rem;
	height: 16rem;
	background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
}

.titulosPlanos {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 9rem;
	height: 2rem;
	font-size: 1.4rem;
	text-align: center;
	font-weight: 600;
	background-image: linear-gradient(135deg, #FFC600 10%, #FD6E6A 100%);
	color: white;
}

.listas {
	width: 15rem;
	height: 10rem;
	justify-content: center;
	align-items: center;
	display: flex;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.buttons {
	justify-content: center;
	align-items: center;
	display: flex;
}

.listas ul li svg {
	background-color: rgb(26, 252, 26);
	margin-right: 3%;
}

/* media queries para anunciar */
@media (min-width: 320px) and (max-width: 1200px) {
	.flex-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin: auto;
	}

	.item {
		margin: 1%;
		width: 20rem;
		height: 50%;

	}

	.listas {
		width: 15rem;
		height: 14rem;
		justify-content: center;
		align-items: center;
		display: flex;
		margin: auto;

	}

	.buttons {
		width: 100%;
		height: 100%;

		justify-content: center;
		align-items: center;
		display: flex;
	}

	.listas ul li svg {
		background-color: rgb(26, 252, 26);
		margin-right: 2%;
		;
	}
}