@font-face {
	font-family: Muli;
	src: url(../fonts/Muli/Muli.ttf)
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: 0;
}

.clear {
    clear: both;
}

.navbar .navbar-nav {
    float: none !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.navbar .navbar-toggler {
    color: rgb(0, 0, 0);
}
.navbar-brand :hover {
    color: #f86611;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
    color: #16181a;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #f86611;
}

/*
.navbar-nav>li>a {
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
}

.navbar-nav>li:hover>a {
    color: #ff6207;
}*/
.imgsB{
    filter: brightness(88%);
}

.tcarou{
    text-shadow: black 0.1em 0.1em 0.2em; 
    z-index: 999;
    margin-bottom: 15%;
    font-family: Muli, serif;
}
.txtcarou{
text-shadow: black 0.1em 0.1em 0.2em;
    z-index: 999;
    font-weight: bolder;
    font-family: Muli, serif;
    font-size: 22px;
}
.container {
    margin-top: 2%;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.sob{
    background: url(../img/sobre.jpg) ; 
    margin-top: 5%;
}
.flexy {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.tilt1 {
    font-family: Muli, serif;
    margin-top: 3%;
    text-align: center;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.tilt2 {
    font-family: Muli, serif;
    margin-top: 3%;
    text-align: center;
    font-weight: 600;
    color: #5C5050;
    text-shadow: black 0.1em 0.1em 0.9em;
}

div.txt1 {
    font-family: Muli, serif;
    text-align: center;
    margin-bottom: 5%;
    
}
div.txt1 p{
    font-family: Muli, serif;
    color: #fff;
    font-size: 1.4em;
    max-width: 1000px;
    margin: 0 auto;
}
.butp{
    background:    #f39507;
    border-radius: 26px;
    box-shadow: 0px 0px 0px 2px #ede8e2;
    padding:       2px 20px;
    display:       inline-block;
    font:          normal bold 18px/1 "Open Sans", sans-serif;
    text-align:    center;
    margin-left: 60%;
    list-style: none;
    
}
.butp:hover{
    box-shadow: 0px 0px 0px 3px #f39507;
    list-style: none;
    background-color: #ff6207;
}
.btn {
    background-color: #ff6207;
}
.btn:hover{
    background-color: #fffbfb;
    color: #ff6207;
    border: 1px solid #ff6207;
}
.bt1 {
    text-align: center;
    border: none;
    margin-top: 2%;
}

.bt1:hover {
    background-color: #fffbfb;
    color: #ff6207;
    border: 1px solid #ff6207;
}

.btn3 {
    margin-top: 1%;
    background-color: #ff6207;
    border: 1px solid #ff6207;

}

.fimg {
    padding: 5%;
}

.img1 {
    width: 100%;
    height: 100%;
    padding: 5%;
}
.roda{
    margin-top: 5%;
    background-color: #f06829;
    height: 170px;
    color: #fff;
    text-align: center;
}
/*Contatos*/

section.bar {
    text-align: center;
}

section.bar .heading span {
    display: block;
    width: 100px;
    border: 1px solid #38a7bb;
    float: left;
}

section.bar p.lead {
    text-align: left;
    margin: 30px 0;
    font-weight: 300;
    color: black;
    font-family: Muli, serif;
}

section.bar form {
    margin: 30px 0;
}

section.bar form .form-group {
    margin: 10px 0;
    text-align: left;
}

section.bar form .form-group label {
    font-size: 14px;
    font-weight: 400;
    color: #555;
}

section.bar form .form-group input[type="text"], section.bar form .form-group input[type="email"], section.bar form .form-group input[type="tel"], section.bar form .form-group select, section.bar form .form-group textarea {
    margin-top: 8px;
}

.g-recaptcha {
    margin: 10px 0;
}

button.btn-primary {
    background-color: #38a7bb;
    border: 1px solid #38a7bb;
    border-radius: 0;
}

button.btn-primary:hover {
    background-color: #38a7bb;
    border: 1px solid #38a7bb;
}

a.btn-success {
    font-weight: 500;
    text-transform: uppercase;
    background-color: #28a745;
    border: 1px solid #28a745;
    border-radius: 0;
    transition: .5s ease-in-out;
}

a.btn-success:hover {
    background-color: #208537;
    border: 1px solid #208537;
}

/*EndContatos*/

