#category-area-title {
    margin-top: 20px;
    color: #566985;
    text-align: center;
}

#category-area-subtitle {
    color: #7d93b2;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.grid-container-category {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.grid-container-category .grid-item {
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    width: 400px;
    height: 339px;
    margin: auto;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.grid-container-category .grid-item img {
    width: 100%;
    height: 250px;
}

.grid-container-category .grid-item .item-title {
    background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);
    text-shadow: rgba(0, 0, 0, .4) 0.1em 0.1em .7em;
    font-size: .7em;
    padding: 12px;
    color: white;
}

.grid-container-category .grid-item .btn-access-information {
    background-color: #ff6207;
    line-height: 34px;
    font-size: .6em;
    height: 34px;
}

.grid-container-category .grid-item .btn-access-information:hover {
    background-color: #ff6e1a;
}

.grid-container-category .grid-item .btn-access-information a {
    position: aboslute;
    padding-left: 40%;
    padding-right: 40%;
}

@media (max-width: 1720px) {
    .grid-container-category {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 1280px) {
    .grid-container-category {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 860px) {
    .grid-container-category {
        grid-template-columns: auto;
    }
}